
/* This styles the Nav Bars For all pages */
        .bg-color{
            background-color: #16ace3;
            min-height: 200px;
            background-position: center;
            box-shadow: 2px 2px 4px #000000;
        }
        
        .container{
            position: relative;
            margin: 20px;
            width: auto;
            height: 250px;
            padding:0px;
            }

    .topnav{
        overflow: hidden;
        font-family: 'Copperplate';
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 70px;
    }

    .topnav a {
        float:inline;
        color: white;
        text-align: center;
        padding: 0px;
        text-decoration: none;
        font-size: 30px;
        position: relative;
    }
        
       /* Styles logo on the nav bars for all pages except the home page */
    
       .logo{
        display:inline-block;        
        position: relative;
        margin:0px;
        padding:0px; 
        padding-bottom: 0px;    
        height: 250px;   
             }
             /* Styles the positiong of the nav bar items*/
             .menu-item
             {
                 position: relative;
                 bottom:105px;
                 left: 140px
                  }
             
/* Stlyes the Carousel on the home page */
section#carousel > figure > img {
            display: none;   
            margin: 0px auto; 
            position: relative;
            overflow: hidden; 
            width: 100%; 
            }
section#carousel > figure.visible > img {
            display:block;
            position: relative;
            overflow: hidden;
}

/* Styles logo on the homepage */
.homepagelogo{
    position: relative;
    margin: 0px;
    padding:0px;
    
}   

/* Code for the Menu Page */
.salsa{
    position: relative;
    height:250px;
    box-shadow: 2px 2px 4px #000000;
    margin: 50px;
    left: 72px;

}
.title{
    text-align: center;
        font-family:'Mayan';
        font-size: 20px;
        position: relative;
        display: inline;
        bottom: 280px;
        left: 190px;

}
.description-one{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    position: relative;
    bottom: 280px;
    left: 190px;
    margin-top: 5px;
    }
.salsa-list{
    font-family: 'Copperplate';
    text-align: center;
    font-size: 15px;
    position: relative;
    bottom: 280px;
    left: 190px;
    margin-top: 10px;
}


             