
/* This is the code that makes my site responsive */
/*
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; height: auto; }

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
html { font-size:100%; }
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 

.content-wrapper {
margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  }

  @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  */
/* This styles the Nav Bars For all pages */
@media screen and (max-width: 900px) {
    body {
      background-color: white;
    }
  }

  .content-wrapper {
    margin-right: auto;
      margin-left: auto;
      max-width: 100%;
      }
.container{
            position: relative;
            margin: 20px;
            height: 250px;
            padding:0px;
            align-items: center;
            }
    
.topnav{
        overflow: hidden;
        font-family: 'Copperplate';
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 20px;
        text-emphasis: center;
        background-color: #16ace3;
        box-shadow: 2px 2px 4px #000000;
}

    .topnav a {
        color: white;
        text-align: center;
        padding: 0px;
        text-decoration: none;
        font-size: 30px;
        position: relative;
        display: inline;
    }
   
   
/* This styles the Footer For all pages */
footer {
    text-align: center;
    padding: 3px;
    background-color: #16ace3;
    color: white;
    display: block;
  }
   
        
       /* Styles logo on the nav bars for all pages except the home page */
    
       .logo{
        display:inline-block;        
        position: relative;
        margin:0px;
        padding:0px; 
        padding-bottom: 0px;    
        height: 250px;   
        max-width:100%;
             }
             /* Styles the positiong of the nav bar items*/
             .menu-item
             {
                 position: relative;
                 bottom:105px;
                 left: 140px
                  }

/* Styles logo on the homepage */
.homepagelogo{
    position: relative;
    margin: 0px;
    padding:0px;
    
}   

/* Styles the Salsa section for the Menu Page */
.salsa{
    position: relative;
    height:300px;
    box-shadow: 2px 2px 4px #000000;
    margin: 50px;
    left: 52px;
    top: 50px;

}

.title{
    font-family: 'Mayan';
    font-size: 20px;
    text-align: center;
    position: relative;
    display: inline;
    bottom: 280px;
    left: 190px;

}
.description-one{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    position: relative;
    bottom: 280px;
    left: 290px;
    margin-top: 5px;
    }
.salsa-list{
    font-family: 'Copperplate';
    text-align: center;
    font-size: 15px;
    position: relative;
    bottom: 280px;
    left: 290px;
    margin-top: 10px;
}

/* Styles Header to each section and the intro paragraph */

.title-two{
        text-align: center;
        font-family:'Mayan';
        font-size: 20px;
        margin-top: -60px;
        }
.description-two{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    bottom: 280px;
    left: 190px;
    margin-top: 5px;

}
/* Styles the Lunch section for the Menu Page */

.tacos{
    position: relative;
    height:500px;
    box-shadow: 2px 2px 4px #000000;
    margin: 50px;
    left: 180px;
    top: -30px;
    bottom: 50px;
    }
.lunch-list{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    position: relative;
    }
    .lunch-items{
        text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    position: relative;
    display: inline-block;
    bottom: 280px;
    left:190px;
    
    }
    
    /* This styles the header and descriptions of the food items*/
    h4{
        font-family: 'Copperplate';
    color: #16ace3;
}
p{
    margin-top: -20px;
}

/* Styles the Dinner section for the Menu Page */

.quesadillas{
    position: relative;
    height:500px;
    box-shadow: 2px 2px 4px #000000;
    margin: 50px;
    left: 580px;
    top: -30px;
    bottom: 30px;
    }

    .dinner-list{
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        position: relative;
}
.dinner-items{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    position: relative;
    display: inline-block;
    bottom: 140px;
    right:220px;

}
/* Styles the Drink section for the Menu Page */

.margaritas{
 position: relative;
    height:355px;
    box-shadow: 2px 2px 4px #000000;
    margin: 50px;
    margin-top: 20px;
    left: 100px;
 
}

.drink-list{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    position: relative;
}
.drink-items{
text-align: left;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;
position: relative;
display: inline-block;
bottom: 108px;
left:120px;
}

.sopapillas{
    position: relative;
    height:280px;
    box-shadow: 2px 2px 4px #000000;
    margin: 50px;
    left: 52px;
    top: -90px;

}

.dessert-title{
    font-family: 'Mayan';
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 350px;
    left: 190px;
    margin-bottom: 5px;
}

.dessert-description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
    position: relative;
    bottom: 350px;
    left: 190px;
}

/* This styles the back to top button on all pages */
#backtotop{
    font-family:"Mayan";
    text-decoration: none;
    text-align: center;
    color: white;
    position: sticky;
}

  